.divk {
    height: 100px;
    border: 5px outset lightgray;
    margin: 10px;
    box-shadow: 0 0 5px gray;
    background-color: darkgray;
}

.dinamic {
    width: 0;
    transition: width 2s;
}

.dinamic:hover {
    width: calc(100% - 30px);
}